.ban-buttons {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 15px;
    justify-content: space-between;
}

.ban-buttons button {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.05rem;
    outline: none !important;
    border: none !important;
    background-color: #1a1a1a;
    transition: 0.1s;
}

.ban-buttons button:hover {
    background-color: #222222;
}

.ban-buttons .primary {
    background-color: #fdfcc871;
}

.ban-buttons .primary:hover {
    background-color: #fdfcc84f;
}

.ban-buttons button svg {
    width: 20px;
}

.ban-search {
    margin-top: 15px;
    width: 100%;
    position: relative;
    align-items: center;
    display: flex;
}

.ban-search input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    padding-left: 50px;
    font-size: 1.05rem;
    color: #fff;
    background-color: #1a1a1a;
    border: 1px solid rgba(255, 255, 255, 0.1);
    outline: none !important;
    transition: 0.1s;
}

.ban-search input:focus {
    border: 1px solid #fdfcc886;
}

.ban-seperator {
    width: 100%;
    height: 1px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 20px;
}

.bans-page {
    margin-top: 20px;
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    align-items: stretch;
}

.bans-page .ban {
    background-color: #1a1a1a;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 30px;
    min-width: 400px;
    width: calc(33.33% - 13.4px);
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    align-items: flex-start;
    height: auto;
    box-sizing: border-box; 
}

@media screen and (max-width: 1310px) { 
    .bans-page .ban {
        width: calc(50% - 10px);
    }
}

@media screen and (max-width: 890px) { 
    .bans-page .ban {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
    }
}


.bans-page .unappealable-ban {
    border: 1px solid #fa57578c;
}

.bans-page .ban .buttons {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 10px;
    margin-right: 20px;
}

.bans-page .ban .buttons button {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 0.9rem;
    outline: none !important;
    border: none !important;
    background-color: #fdfcc86b;
    transition: 0.1s;
    width: 100%;
}

.bans-page .ban .buttons img {
    width: calc(100% - 20px);
}

@keyframes blink-image-load {
    0% {
        background-color: rgba(255, 255, 255, 0.24);
    }
    50% {
        background-color: rgba(255, 255, 255, 0.1);
    }
    100% {
        background-color: rgba(255, 255, 255, 0.24);
    }
}

.bans-page .ban .buttons .profile-image-load {
    width: calc(100% - 20px);
    height: 80px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.24);
    animation: blink-image-load 1s ease-in-out 0s infinite;
}

.bans-page .ban .buttons button:hover {
    background-color: #fdfcc856;
}

.bans-page .ban .data a {
    color: #fdfcc8;
    font-size: 0.9rem;
    cursor: pointer;
}

.bans-page .ban .data .user-holder {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.bans-page .ban .data .user-holder .username {
    font-weight: 600;
    color: #fff;
    text-decoration: underline;
    font-size: 1rem;
    position: relative;
    display: block;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    white-space: none;
}

.bans-page .ban .data .user-holder .id {
    color: #ffffffaf;
}

.bans-page .ban .data a:hover {
    opacity: 0.9;
    cursor: pointer;
}

.bans-page .ban .data {
    width: calc(100% - 120px);
    text-align: left;
}

.bans-page .ban .data .ban-data {
    color: #ffffffbd;
    line-height: 1.4rem;
    font-size: 0.9rem;
    text-wrap: wrap;
}

.bans-page .ban .data .ban-data svg {
    color: #fff;
    width: 1rem;
    height: 1rem;
    display: inline-block;
}

.bans-page .ban .data .ban-data b {
    color: #ffffff;
}

.ban-search-filter {
    width: 100%;
    display: flex;
    gap: 10px;
    font-size: 1.1rem;
    align-items: center;
    height: 80px;
}

.new-ban-modal {
    width: 100%;
    height: calc(100% - 100px);
    background-color: rgb(24, 24, 24);
    max-width: 700px;
    max-height: 650px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38);
    padding: 30px;
    text-align: left;
    overflow-x: hidden;
    overflow-y: auto;
}

.modal-holder .quick-dates {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
}

.modal-holder .quick-dates button {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 0.9rem;
    outline: none !important;
    border: none !important;
    background-color: #fdfcc83f;
    transition: 0.1s;
}

.modal-holder .quick-dates button:hover {
    background-color: #fdfcc82f;
}

.new-ban-modal .publish-ban button {
    display: flex;
    gap: 10px;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 0.9rem;
    outline: none !important;
    border: none !important;
    background-color: #fdfcc871;
    transition: 0.1s;
}

.new-ban-modal .publish-ban button:hover {
    background-color: #fdfcc857;
}

.new-ban-modal {
    display: flex;
}

.new-ban-modal .preview-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding-right: 30px;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.new-ban-modal .preview-section .profile-image {
    width: 120px;
    height: 120px;
    background-color: rgba(255, 255, 255, 0.24);
    animation: blink-image-load 1s ease-in-out 0s infinite;
    border-radius: 10px;
}

.new-ban-modal .preview-section img {
    width: 120px;
    height: 120px;
    border-radius: 10px;
}

.new-ban-modal a {
    color: #fdfcc8;
    font-size: 0.9rem;
    cursor: pointer;
}

.new-ban-modal a:hover {
    opacity: 0.9;
    cursor: pointer;
}

.new-ban-modal .entry-section {
    padding-left: 30px;
    width: calc(100% - 130px);
}

.modal-holder .input {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex-shrink: 0;
    padding-bottom: 20px;
}

.modal-holder .input input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.05rem;
    color: #fff;
    background-color: #1a1a1a;
    border: 1px solid rgba(255, 255, 255, 0.1);
    outline: none !important;
    transition: 0.1s;
}

.modal-holder .input textarea {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    font-size: 0.9rem;
    color: #fff;
    background-color: #1a1a1a;
    border: 1px solid rgba(255, 255, 255, 0.1);
    outline: none !important;
    transition: 0.1s;
    height: calc(100% - 20px);
    max-height: calc(100% - 20px);
    min-height: calc(100% - 20px);
}

.modal-holder .input input:focus {
    border: 1px solid #fdfcc886;
}

.modal-holder .input .checkboxes {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.modify-ban-modal {
    width: 100%;
    height: calc(100% - 100px);
    background-color: rgb(24, 24, 24);
    max-width: 500px;
    max-height: 590px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38);
    padding: 30px;
    text-align: left;
    overflow-x: hidden;
    overflow-y: auto;
}

.modify-ban-modal .profile-image {
    width: 90px;
    height: 90px;
    background-color: rgba(255, 255, 255, 0.24);
    animation: blink-image-load 1s ease-in-out 0s infinite;
    border-radius: 10px;
}

.modify-ban-modal img {
    width: 90px;
    height: 90px;
    border-radius: 10px;
}

.modify-ban-modal .user-holder {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.modify-ban-modal .user-holder .username {
    font-weight: 600;
    color: #fff;
    text-decoration: underline;
    font-size: 1rem;
    max-width: 100%;
    position: relative;
    display: block;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    white-space: none;
}

.modify-ban-modal .user-holder .username:hover {
    opacity: 0.9;
}

.modify-ban-modal .user-holder .id {
    color: #ffffffaf;
}

.modify-ban-modal .update-ban button {
    display: flex;
    gap: 10px;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 0.9rem;
    outline: none !important;
    border: none !important;
    background-color: #fdfcc871;
    transition: 0.1s;
}

.modify-ban-modal .update-ban button:hover {
    background-color: #fdfcc857;
}

.modify-ban-modal .update-ban .unban-button {
    background-color: #ff595971;
}

.modify-ban-modal .update-ban .unban-button:hover {
    background-color: #ff5959d0;
}

.ban-history-modal {
    width: 100%;
    height: calc(100% - 100px);
    background-color: rgb(24, 24, 24);
    max-width: 400px;
    max-height: 500px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38);
    padding: 30px;
    text-align: left;
    overflow-x: hidden;
    overflow-y: auto;
}

.ban-history-modal .profile-image {
    width: 90px;
    height: 90px;
    background-color: rgba(255, 255, 255, 0.24);
    animation: blink-image-load 1s ease-in-out 0s infinite;
    border-radius: 10px;
}

.ban-history-modal img {
    width: 90px;
    height: 90px;
    border-radius: 10px;
}

.ban-history-modal .user-holder .username {
    font-weight: 600;
    color: #fff;
    text-decoration: underline;
    font-size: 1rem;
    max-width: 100%;
    position: relative;
    display: block;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    white-space: none;
}

.ban-history-modal .user-holder .username:hover {
    opacity: 0.9;
}

.ban-history-modal .user-holder .id {
    color: #ffffffaf;
}

@media screen and (max-width: 660px) { 
    .new-ban-modal {
        flex-direction: column;
        align-items: center;
        padding: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .new-ban-modal .preview-section {
        padding-right: 0px;
        border-right: 0px;
        padding-bottom: 20px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
    .new-ban-modal .entry-section {
        padding-left: 10px;
        width: calc(100% - 20px);
        margin-top: 20px;
    }
    .new-ban-modal .preview-section .profile-image {
        width: 90px;
        height: 90px;
    }

    .new-ban-modal .preview-section img {
        width: 90px;
        height: 90px;
    }

    .modal-holder .quick-dates {
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 15px;
    }

    .modal-holder .quick-dates button {
        width: calc(50% - 7.5px);
    }
}
