body {
  background-color: #121212;
  overflow-x: hidden !important;
  max-width: 100vw !important;
}

#root {
  overflow-x: hidden !important;
  max-width: 100vw !important;
}

.nav {
  width: 100vw;
  height: 90px;
  position: absolute;
  left: 0px;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(24, 24, 24);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38);
}

.nav-content {
  width: calc(100% - 40px);
  max-width: 1300px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-content .branding {
  cursor: pointer;
  transition: 0.2s;
}

.nav-content .branding:hover {
  filter: brightness(1.2);
  transform: scale(0.95);
}

.nav-content .links {
  display: flex;
  gap: 30px;
}

.nav-content .links a {
  color: #ffffffb4;
  cursor: pointer;
  transition: 0.2s;
  border-bottom: 1px solid transparent;
  display: flex;
  gap: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.nav-content .links a svg { 
  width: 16px;
}

.nav-content .links a:hover {
  color: #fff;
}

.nav-content .links .active {
  border-bottom: 1px solid #fdfcc8;
  color: #fdfcc8;
  padding-bottom: 3px;
}

.nav-content .links .active:hover {
  border-bottom: 1px solid #fdfcc8;
  color: #fdfcc8;
}

.border-left {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid rgba(255, 255, 255, 0.048);
  border-left: 2px solid #5865F2;
  padding-left: 20px;
  padding-right: 10px;
  background-color: #00000023;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.18);
}

.discord-button {
  border: none;
  outline: none !important;
  background-color: #5865F2;
  color: #fff;
  display: flex;
  gap: 10px;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 1rem;
  transition: 0.3s;
}

.discord-button:hover {
  background-color: #6672f1;
  transform: scale(0.97);
}

.nav-content img {
  height: 50px;
}

.page-holder {
  position: absolute;
  top: 115px;
  width: 100vw;
  height: calc(100vh - 150px);
  height: calc(100dvh - 150px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.page {
  width: calc(100% - 40px);
  height: 100%;
  overflow: auto;
}

.login-box {
  width: 100%;
  max-width: 500px;
  height: fit-content;
  background-color: rgb(24, 24, 24);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 30px;
  border-radius: 20px;
  box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38);
}

.login-box h1 {
  font-weight: 700;
  font-size: 2.2rem;
  color: #fff;
}

.login-box p {
  color: #ffffffda;
  margin-top: 10px;
}

.mobile-links {
  display: none !important;
}

.mobile-links .button {
  cursor: pointer;
}

.mobile-nav {
  position: absolute;
  z-index: 5;
  top: 80px;
  width: 100vw;
  height: calc(100vh - 80px);
  height: calc(100dvh - 80px);
  background-color: #121212;
  display: none;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  overflow: auto;
  left: -100vw;
  transition: 0.5s;
  opacity: 0;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.mobile-nav a {
  display: flex;
  gap: 5px;
  align-items: center;
  color: #fff;
  width: 100%;
  background-color: rgb(26, 26, 26);
  border: 1px solid transparent;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.mobile-nav a:hover {
  background-color: rgb(24, 24, 24);
}

.mobile-nav-open {
  left: 0px;
  opacity: 1;
}

.mobile-nav .active {
  color: #fdfcc8;
  border: 1px solid #fdfcc8;
}

.user-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.user-nav .details {
  display: flex;
  gap: 10px;
  text-align: left;
}

.user-nav img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  outline: none !important;
  border: 1px solid #fdfcc8;
}

.desktop-links {
  align-items: center;
}

.desktop-links .user-nav {
  font-size: 0.9rem;
  text-align: right;
  line-height: 1.2;
}

.desktop-links .user-nav .details b {
  font-size: 0.7rem;
  color: #fdfcc8;
}

.desktop-links .user-nav .details {
  text-align: right;
}

.desktop-links .user-nav img {
  width: 40px;
  height: 40px;
}

@media screen and (max-width: 800px) {
  .nav {
    top: 0px;
    height: 80px;
  }
  .nav-content {
    width: 100%;
    border: none;
  }
  .page-holder {
    width: 100vw;
    top: 80px;
    height: calc(100vh - 80px);
    height: calc(100dvh - 80px);
  }
  .login-box {
    width: calc(100% - 10px);
  }
  .page {
    width: 100%;
    padding: 5px;
    border: none;
  }
}

@media screen and (max-width: 1000px) {
  .desktop-links {
    display: none !important;
  }
  .mobile-links {
    display: flex !important;
  }
  .mobile-nav {
    display: flex;
  }
}

.toggle {
  width: 45px;
  height: 25px;
  background-color: #ffffff27;
  border-radius: 60px;
  cursor: pointer;
  transition: 0.3s;
}

.toggle-ball {
  width: 25px;
  height: 25px;
  border-radius: 30px;
  background-color: #ffffffa2;
  position: relative;
  transition: 0.3s;
  left: 0px;
}

.toggle-active {
  background-color: #fdfcc865;
  transition: 0.3s;
}

.toggle-active .toggle-ball {
  background-color: #fdfcc8;
  left: 20px;
  transition: 0.3s;
}

.modal-holder {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  z-index: 9;
  backdrop-filter: blur(4px) brightness(0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.checkbox-holder {
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  width: fit-content;
}

.checkbox-holder .checkbox {
  width: 20px;
  height: 20px;
  background-color: rgb(110, 110, 110);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

.checkbox-holder .checkbox svg {
  opacity: 0;
}

.checkbox-active .checkbox {
  background-color: #9c9c69;
}

.checkbox-active .checkbox svg {
  opacity: 1;
  color: rgb(255, 255, 255);
}